@import "tailwindcss";

:root {
    /* -- Global Styles--  */

    box-sizing: border-box;
    scroll-behavior: smooth;

    /* -- Variables--  */

    /* Sizes */
    --navbar-height: 4.5rem;
    --sidebar-width: 18rem;

    /* Colors */
    --highlight-color: #2563eb;
    --highlight-color-hover: #1d4ed8;
    --highlight-color-soft: #93c5fd;

    --primary-text-color: #0f172a;
    --secondary-text-color: #475569;
    --disabled-text-color: #94a3b8;

    --danger-color: #dc2626;
    --success-color: #16a34a;
}

body {
    @apply bg-background;
}

main {
    @apply mt-navbar-height min-h-[calc(100vh-var(--navbar-height))] p-4 sm:p-8;
}

@theme {
    /* -- Colors -- */

    /* Text */
    --color-text-primary: var(--primary-text-color);
    --color-text-secondary: var(--secondary-text-color);
    --color-text-disabled: var(--disabled-text-color);
    --color-text-placeholder: var(--disabled-text-color);

    /* Background / Surface */
    --color-background: #f8fafc;
    --color-surface: #fff;
    --color-surface-muted: #f1f5f9;

    /* Borders */
    --color-layout-border: #e2e8f0;
    --color-input-border: #cbd5e1;
    --color-input-border-hover: #94a3b8;

    /* Primary Button */
    --color-btn-primary: var(--highlight-color);
    --color-btn-primary-hover: var(--highlight-color-hover);
    --color-btn-primary-disabled: var(--highlight-color-soft);
    --color-btn-primary-text: #fff;

    /* Secondary Button */
    --color-btn-secondary-bg: #fff;
    --color-btn-secondary-text: var(--primary-text-color);
    --color-btn-secondary-border: #cbd5e1;

    --color-btn-secondary-hover-bg: #f1f5f9;
    --color-btn-secondary-hover-border: var(--disabled-text-color);

    --color-btn-secondary-disabled-bg: #fff;
    --color-btn-secondary-disabled-text: var(--dsiabled-text-color);
    --color-btn-secondary-disabled-border: #e2e8f0;

    /* Danger Button */
    --color-btn-danger: var(--danger-color);
    --color-btn-danger-hover: #b91c1c;
    --color-btn-danger-disabled: #fca5a5;
    --color-btn-danger-text: #fff;

    /* Status */
    --color-success: var(--success-color);
    --color-danger: var(--danger-color);

    /* -- Fonts -- */
    --font-sans: "Manrope", system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;

    /* -- Sizes -- */
    --height-navbar-height: var(--navbar-height);
    --margin-navbar-height: var(--navbar-height);
    --padding-navbar-height: var(--navbar-height);
    --top-navbar-height: var(--navbar-height);
    --width-sidebar-width: var(--sidebar-width);
    --margin-sidebar-width: var(--sidebar-width);
}
